/* Reset css */

body .contenedor-principal-body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gilroy","Open Sans","Arial",sans-serif;
}

/* ----- FIRTS MOVIL - DESARROLLO DISPOSITIVOS MOVILES: CELULARES ----- */
@media screen and (max-width: 480px){
/* --------------- HEADER --------------- */

/* Estilo de "fondo-azul-principal" */
.contenedor-principal-body .fondo-azul-principal{
   background-color: rgb(1,59,130);
   width: 100%;
   height: 40px;
   }


/* Estilo del "Link-catalogo" */
.contenedor-principal-body .fondo-azul-principal .link-catalogo{
   color: white;
   display: inline-block;
   margin-bottom: 5px;
   margin-top: 8px;
   left: 80%;
   text-decoration: none;
   font-weight: bold;
   position: fixed;
   z-index: 2;
   }   

/* Estilo del link-Home-img-principal-it_cloud */
.cloud_logo_principal{
   margin-top: 5px;
   margin-left: 8px;
   width: 90px;
   height: 55px;
   }  
.cloud_logo_principal:hover{
   width: 92px;
   height: 57px;
   }   


/* Estilo del Menu de navegacion-principal-mavil */
.navbar-brand{
   font-size: 1.2rem;
   position: relative;
   margin-left: 5px;
   left: 100px;
   bottom: 50px;
   font-weight: bold;
   color:rgb(61,61,61);
   }
.navbar-toggler-icon{
   position: relative;
   }
.navbar-toggler{
   position: relative;
   bottom: 55px;
   z-index: 2;
   }
.navbar-collapse{
   position: relative;
   bottom: 48px;
   left: 105px;
   width: 30px;
   }
.nav-link{
   font-weight: bold;
   color:rgb(61,61,61);
   }
.navbar-brand:hover{
   color: rgb(0,174,239);
   }   
.nav-item .nav-link:hover{
   color:rgb(0,174,239);
   }
.dropdown-menu .dropdown-item:hover{
   font-weight: bold;
   color:rgb(0,174,239);
   } 
 

/* Estilo del video-principal-mp4:Movil */
.video-principal{
   position: relative;
   bottom: 50px;
   }
.video-principal video{
   position: absolute;
   width: 100%;
   box-shadow: 0px 7px 20px  black;
   }
  
/* Estilo Titulo-principal:Movil  */
.titulo-principal-cel{
   position: absolute;
   text-align: center;
   font-weight: bold;
   color:white;
   top: 60px;
   font-size: 1.7rem;
   padding-left: 10px;
   padding-right: 10px;
   } 
  
/* Estilo contenedor-ExpertiseTecnology */
.contenedor-img-cloud{
   display: none;
}  
.contenedor-ExpertiseTecnology{
  position: relative;
  top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  height: 210px;
  }
.titulo-ExpertiseTecnology h2{
   position: absolute;
   margin-left: 25px;
   font-size: 2rem;
   font-weight: bold;
   }
.text-ExpertiseTecnology p{
   position: absolute;
   font-size: 0.8rem;
   margin-top: 20px;
   padding-left: 25px;
   padding-right: 25px;
   text-align: justify;
   font-weight: bold;
   top: 80px;
   color:rgb(132,132,132); 
   } 
   
   
/* Estilo contenedor-check */
.contenedor-check{
   display: flex;
   flex-direction: column;
   position: relative;
   margin-left: 45px;
   margin-right: 30px;
   gap: 2px;
   top: 230px;
   width: 300px;
   height: 450px;
   padding-left: 25px;
   padding-right: 25px;
   }
.contenedor-check img{
   width: 35px;
   height: 30px;
   }
.contenedor-check h4{
   position: relative;
   color: rgb(33,33,33);
   font-weight: bold;
   bottom: 35px;
   left: 50px;
   }
.see-all-boton input{
   width: 180px;
   color: white;
   font-weight: bold;
   border-radius: 20px;
   border: rgb(0,174,239);
   background-color: rgb(0,174,239);
   }

/* Estilo de contenedor-carrousel-marcas */
.contenedor-marcas{
   position: relative;
   width: 100%;
   height: 250px;
   background-color: rgb(244,244,244);
   top: 300px;
   }
.carousel-control-prev  span, .carousel-control-next span{
   position: relative;
   top: 150px;
 } 
.contenedor-marcas h2{
   position: absolute;
   font-size: 2rem;
   font-weight: bold;
   top: 15px;
   left: 30px;
   }
.carousel-inner{
   width: 100%;
   height: 200px;
   top: 30px;
   position: absolute;
   }
#apple{
   width: 120px;
   position: absolute;
   left: 170px;
   top: 40px;
   }
#microsof{
   width: 270px;
   position: absolute;
   left: 100px;
   top: 75px;
   }
#cisco{
   width: 220px;
   height: 130px;
   position: absolute;
   left: 130px;
   top: 50px;
   } 
   
/* Estilo de titulo-best-technology */
.titulo-best-technology{
   position: relative;
   width: 100%;
   height: 180px;
   top: 260px;
   }
.titulo-best-technology h2{
   position: absolute;
   top: 75px;
   font-size: 1.9rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   }
   
/* Estilo contenedor-img */
.contenedor-img{
   position: relative;
   width: 100%;
   top: 300px;
   height: 1740px;
   }
.img-cloud-services{
   position: relative;
   width: 100%;
   height: 300px;
   bottom: 30px;
   }   
.img-cloud-services img, .img-voice-collaboration img, .img-managed-services img, .img-information-security img, .img-connectivity img, .img-network-engineering img{
   width: 100%;
   height: 300px;
   position: absolute;
   opacity: 3;
   }
.img-cloud-services h2, .img-voice-collaboration h2, .img-managed-services h2, .img-information-security h2, .img-connectivity h2, .img-network-engineering h2{
   position: absolute;
   left: 20px;
   top: 50px;
   font-size: 2.7rem;
   font-weight: bold;
   color: white;  
   }
.img-cloud-services p, .img-managed-services p, .img-information-security p, .img-connectivity p, .img-network-engineering p{
   position: absolute;
   padding-left: 10px;
   padding-right: 20px;
   left: 20px;
   top: 160px;
   font-size: 1.1rem;
   font-weight: bold;
   color: white;
   }
.img-cloud-services input, .img-voice-collaboration input, .img-managed-services input, .img-information-security input, .img-connectivity input, .img-network-engineering input{
   position: absolute;
   top: 240px;
   left: 25px;
   width: 130px;
   color: white;
   font-weight: bold;
   border-radius: 20px;
   border: rgb(0,174,239);
   background-color: rgb(0,174,239);
   }
.img-voice-collaboration{
   position: relative;
   bottom: 50px;
   } 
.img-voice-collaboration p{
   position: absolute;
   padding-left: 10px;
   padding-right: 20px;
   left: 20px;
   top: 160px;
   font-size: 0.9rem;
   font-weight: bold;
   color: white;
   }  
.img-managed-services{
   position: relative;
   top: 240px;
   }
.img-information-security{
   position: relative;
   top: 540px;
   }
.img-connectivity{
   position: relative;
   top: 840px;
   }
.img-network-engineering{
   position: relative;
   top: 1130px;
   }
/* Estilo titulo-praise-partners-clients */
.titulo-praise-partners-clients{   
   position: relative;
   width: 100%;
   height: 120px;
   top: 300px;  
   }
.titulo-praise-partners-clients h2{
   font-size: 2rem;
   margin-bottom: 30px;
   position: absolute;
   top: 20px;
   font-weight: bold;
   text-align: center;   
   }

/* Estilo Carrousel: comentarios */
.carousel-coment{
   width: 100%;
   height: 300px;
   position: relative;
   top: 250px;
   }  
.carousel-item-coment img{
   width: 100%;
   height: 200px;
   }    
.carousel-control-next, .carousel-control-next-coment span, .carousel-control-prev-coment span{
   position: absolute;
   bottom: 100px; 
   }

/* Estilos section: we-help-partners */
.contenedor-We-help-partners{
   position: relative;
   width: 100%;
   height: 430px;
   top: 240px;
   }
.img-We-help-partners img{
   width: 100%;
   height: 420px;
   position: absolute;
   }   
.titulo-We-help-partners h2{
   position: absolute;
   display: inline-block;
   color: white;
   font-size: 2.5rem;
   font-weight: bold;
   top: 50px;
   margin-left: 40px;
   }
.text-We-help-partners p{
   position: absolute;
   width: 340px;
   text-align: justify;
   color: white;
   font-size: 1rem;
   font-weight: bold;
   top: 190px;
   margin-left: 40px;
   }   
.link-We-help-partners h2{
   position: absolute;
   display: inline-block;
   top: 370px;
   font-size: 0.9rem;
   font-weight: bold;
   color:rgb(0,174,239);
   margin-left: 40px;
   }
   
/*  */
.titulo-proud-help-clientele{
   position: relative;
   top: 230px;
   width: 100%;
   height: 150px;
   }   
.titulo-proud-help-clientele h2{
   position: absolute;
   top: 20%;
   font-size: 2.3rem;
   font-weight: bold;
   text-align: center;
   }


/* Estilo Carrousel-marcas-2 */
.carousel-marcas-2{
   position: relative;
   top: 220px;
   height: 150px;
   width: 100%; 
}
.carousel-marcas-2 .carousel-inner-marcas-2{
   position: absolute;
   top: 0px;
   height: 150px;
   width: 100%;
   }
.carousel-inner-marcas-2 .img1-marcas-2, .carousel-inner-marcas-2 .img1-marcas-2{
   position: absolute;
   top: 35px;
   width: 100%;
   height: 80px;
   }
.carousel-inner-marcas-2{
   position: absolute;
   top: 220px;
   }    
.carousel-control-next-marcas .carousel-control-next-icon{
   position: absolute;
   left: 52%;
   top: 130px;
   margin-bottom: 30px;
   border-radius: 50px;
   width: 20px;
   height: 20px;
   background: linear-gradient(145deg, #cacaca, #f0f0f0);
   box-shadow:  3px 3px 9px #bebebe,
               -3px -3px 9px #ffffff;
   } 
.carousel-control-prev-marcas .carousel-control-prev-icon{
   position: absolute;
   left: 42%;
   top: 130px;
   width: 20px;
   height: 20px;
   margin-bottom: 30px;
   border-radius: 50px;
   background: linear-gradient(145deg, #cacaca, #f0f0f0);
   box-shadow:  3px 3px 9px #bebebe,
               -3px -3px 9px #ffffff;
   } 


/* Estilo check-2- */
.contenedor-chek-2{
   position: relative;
   background-color: rgb(1,59,130);
   width: 100%;
   height: 850px;
   top: 250px;
   }
.titulo-check-2 h2{
   display: inline-block;
   position: absolute;
   margin-top: 50px;
   margin-left: 20px;
   font-size: 2.1rem;
   font-weight: bold;
   color: white;
   }
.chek-2{
   width: 100%;
   height: 900px;
   display: flex;
   flex-direction: column;
}
.chek-2 img{
   position: relative;
   left: 20px;
   top: 150px;
   width: 40px;
   height: 35px;
   }
.chek-2 h4{
   position: relative;
   width: 350px;
   font-size: 1.2rem;
   color: white;
   font-weight: bold;
   top: 118px;
   left: 80px;
   display: inline-block;
   }  


/* Estilo cards-imgs-titulos-texts-buttons */
.titulo-cloud-news h2{
   position: relative;
   margin-left: 30px;
   font-size: 2.5rem;
   font-weight: bold;
   top: 290px;
   }
.card{
   position: relative;
   margin-left: 20px;
   top: 360px;
   width: 90%;
   height: 250px;
   }
.card-img-cambio{
   position: absolute;
   bottom: 20px;
   }   
.card img{
   position: relative;
   width: 100%;
   height: 250px;
   margin-top: 20px;
   }        
.card h5{
   font-weight: bold;
   font-size: 1.4rem;
   right: 30px;
   margin-bottom: 30px;
   }
.card a{
   background-color: rgb(0,174,239);
   border-radius: 15px;
   border: rgb(0,174,239);
   font-size: 1.1rem;
   font-weight: bold;
   }



/* Estilo de contenedor-img-azul */
.contenedor-img-azul{
   position: relative;
   margin-bottom: 50px;
   width: 100%;
   height: 650px;
   background-image: url(/img/img-contenedor-azul.jpg);
   background-repeat: no-repeat;
   top: 1800px;
   } 
.contenedor-img-azul .contenedor-azul{
   position: absolute;
   top: 90px;
   background-color: rgb(1,59,130);
   width: 260px;
   height: 370px;
   }
.contenedor-azul h2{
   color: white;
   font-size: 1.7rem;
   font-weight: bold;
   margin-left: 20px;
   margin-top: 60px;
   } 
.contenedor-azul p{
   position: absolute;
   width: 84%;
   color: white;
   font-weight: bold;
   margin-left: 20px;
   margin-top: 35px;
   }     


/* Footer */
.contenedor-titulo-img-ubicacion{
   position: relative;
   top: 1750px;
   width: 100%;
   height: 100px;
   }   
.contenedor-titulo-img-ubicacion img{
   position: absolute;
   margin-top: 20px;
   margin-left: 80px;
   width: 40px;
   height: 50px;
   }  
.contenedor-titulo-img-ubicacion h2{
   position: absolute;
   font-weight: bold;
   margin-left: 130px;
   margin-top: 30px;
   }  
.contenedor-ubicaciones-h3{
   position: relative;
   top: 1750px;
   }   
.contenedor-ubicaciones-h3 h3{
   margin-left: 10px;
   margin-right: 10px;
   font-size: 1.1rem;
   font-weight: bold;
   text-align: center;
   color: rgb(136,134,132);
   }

/* hola */
.contenedor-titulo-redes{
   position: relative;
   width: 100%;
   height: 220px;  
   top: 1800px;
   }  
.contenedor-titulo-redes h2{
   position: absolute;
   font-size: 2rem;
   font-weight: bold;
   margin-left: 25px;
   margin-top: 30px;
   }   
.contenedor-titulo-redes p{
   position: absolute;
   font-size: 1.1rem;
   font-weight: bold;
   margin-left: 25px;
   margin-top: 90px;
   color: rgb(136,134,132);
   }
.contenedor-img-redes{
   position: relative;
   flex-direction: row;
   margin-left: 25px;
   display: inline-block;
   width: 180px;
   height: 30px;
   top: 160px;
   }   
.contenedor-img-redes img{
   width: 30px;
   height: 30px;
   }       
.img-icon-1, .img-icon-2, .img-icon-3{
   margin-left: 10px;
   } 


.contenedor-email{
   position: relative;
   width: 100%;
   height: 35px;
   top: 1800px;
   }   
.contenedor-email .texto-email{
   position: absolute;
   width: 60%;
   margin-left: 25px;
   border-radius: 40px;
   border-color: rgb(0,174,239);
   }
.contenedor-email .botton-email{
   position: absolute;
   font-weight: bold;
   color: white;
   width: 25%;
   margin-left: 70%;
   border-radius: 40px;
   border: rgb(0,174,239);
   background-color: rgb(0,174,239);
   }

.linea-footer{
   position: relative;
   top: 1850px;
   }   
.linea-footer hr{  
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   border: 0;
   border-top: 2px solid #999; 
   border-bottom: 2px solid #333;
   height:0;
   }
   
/*  */
.contenedor-rights-reserved{
   position: relative;
   width: 100%;
   top: 1900px;
   height: 450px;
   }   
.contenedor-rights-reserved .it-cloud{
   position: absolute;
   margin-left: 23%;
   width: 250px;
   height: 150px;
   }
.contenedor-rights-reserved .aftershock{
   position: absolute;
   margin-left: 20%;
   width: 250px;   
   height: 90px;
   top: 180px;
   }
.contenedor-rights-reserved h2{
   text-align: center;
   font-size: 1.3rem;
   font-weight: bold;
   position: relative;
   top: 310px;
   }
.contenedor-rights-reserved h3{
   text-align: center;
   font-size: 1.2rem;
   font-weight: bold;
   position: relative;
   top: 330px;
   }
}











/* ----- DESARROLLO DISPOSITIVOS TABLETS. ----- */
@media screen and (min-width: 768px){
/* --------------- HEADER --------------- */

/* Estilo de "fondo-azul-principal" */
.contenedor-principal-body .fondo-azul-principal{
   background-color: rgb(1,59,130);
   width: 100%;
   height: 40px;
   }


/* Estilo del "Link-catalogo" */
.contenedor-principal-body .fondo-azul-principal .link-catalogo{
   color: white;
   display: inline-block;
   margin-bottom: 5px;
   margin-top: 8px;
   left: 93%;
   text-decoration: none;
   font-weight: bold;
   position: fixed;
   z-index: 2;
   }   


/* Estilo del link-Home-img-principal-it_cloud */
.cloud_logo_principal{
   margin-top: 5px;
   margin-left: 15px;
   width: 140px;
   height: 95px;
   }  
   
   
/* Estilo del Menu de navegacion-principal-tablet */
.navbar-brand{
   font-size: 1.7rem;
   position: relative;
   margin-left: 5px;
   left: 170px;
   bottom: 70px;
   font-weight: bold;
   color:rgb(61,61,61);
   }
.navbar-toggler-icon{
   position: relative;
   }
.navbar-toggler{
   position: relative;
   bottom: 75px;
   z-index: 2;
   }
.navbar-collapse{
   position: relative;
   bottom: 60px;
   left: 180px;
   width: 30px;
   }
.nav-link{
   font-size: 1.3rem;
   font-weight: bold;
   color:rgb(61,61,61);
   }
.navbar-brand:hover{
   color: rgb(0,174,239);
   }   
.nav-item .nav-link:hover{
   color:rgb(0,174,239);
   }
.dropdown-menu .dropdown-item:hover{
   font-weight: bold;
   color:rgb(0,174,239);
   }
   
   
/* Estilo del video-principal-mp4:Tablet */
.video-principal{
   position: relative;
   bottom: 50px;
   }
.video-principal video{
   position: absolute;
   width: 100%;
   box-shadow: 0px 7px 20px  black;
   }
   
   
/* Estilo Titulo-principal:Tablet  */
.titulo-principal-cel{
   position: absolute;
   text-align: center;
   font-weight: bold;
   color:white;
   top: 150px;
   font-size: 3.9rem;
   margin-left: 50px;
   margin-right: 50px;
   padding-left: 10px;
   padding-right: 10px;
   }   

   
/* Estilo contenedor-ExpertiseTecnology */
.contenedor-img-cloud{
   display: none;
}  
.contenedor-ExpertiseTecnology{
  position: relative;
  top: 650px;
  margin-left: 50px;
  margin-right: 60px;
  height: 210px;
  }
.titulo-ExpertiseTecnology h2{
   position: absolute;
   margin-left: 50px;
   font-size: 2.8rem;
   font-weight: bold;
   }
.text-ExpertiseTecnology p{
   position: absolute;
   font-size: 1.5rem;
   margin-top: 20px;
   padding-left: 50px;
   padding-right: 50px;
   text-align: justify;
   font-weight: bold;
   top: 80px;
   color:rgb(132,132,132); 
   }    

   
/* Estilo contenedor-check */
.contenedor-check{
   position: relative;
   margin-left: 70px;
   margin-right: 30px;
   top: 650px;
   width: 700px;
   height: 550px;
   padding-left: 25px;
   padding-right: 25px;
   }
.contenedor-check img{
   position: relative;
   width: 35px;
   height: 30px;
   }
.contenedor-check .img-check-f1{
   display: flex;
   flex-direction: row;
   left: 350px;
   }   
.contenedor-check .img-check-f2{
   display: flex;
   flex-direction: row;
   bottom: 90px;
   }      
.contenedor-check h4{
   position: relative;
   color: rgb(33,33,33);
   font-weight: bold;
   bottom: 35px;
   left: 50px;
   }
.contenedor-check .titulo-check-f1{
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
   left: 400px;
   }
.contenedor-check .titulo-check-f2{
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
   left: 90px;
   bottom: 120px;
   }   
.see-all-boton input{
   position: absolute;
   top: 450px;
   width: 220px;
   height: 40px;
   font-size: 1.3rem;
   color: white;
   font-weight: bold;
   border-radius: 20px;
   border: rgb(0,174,239);
   background-color: rgb(0,174,239);
   }
   
   
/* Estilo de contenedor-carrousel-marcas */
.contenedor-marcas{
   position: relative;
   width: 100%;
   height: 420px;
   background-color: rgb(244,244,244);
   top: 700px;
   }
.contenedor-marcas h2{
   position: absolute;
   font-size: 3.5rem;
   font-weight: bold;
   top: 15px;
   left: 80px;
   }
.carousel-inner{
   width: 100%;
   height: 250px;
   position: relative;
   top: 110px;
   }
#apple{
   width: 200px;
   position: absolute;
   left: 45%;
   top: 15px;
   }
#microsof{
   width: 570px;
   position: absolute;
   left: 25%;
   top: 55px;
   }
#cisco{
   width: 400px;
   height: 130px;
   position: absolute;
   left: 35%;
   top: 10px;
   } 
   
   
/* Estilo de titulo-best-technology */
.titulo-best-technology{
   position: relative;
   width: 100%;
   height: 280px;
   top: 750px;
   }
.titulo-best-technology h2, .titulo-praise-partners-clients h2{
   position: absolute;
   top: 60px;
   font-size: 4.4rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   }
   
   
/* Estilo contenedor-img */
.contenedor-img{
   position: relative;
   width: 100%;
   top: 800px;
   height: 4200px;
   }
.img-cloud-services{
   position: relative;
   width: 100%;
   height: 300px;
   }   
.img-cloud-services img, .img-voice-collaboration img, .img-managed-services img, .img-information-security img, .img-connectivity img, .img-network-engineering img{
   width: 100%;
   height: 700px;
   position: absolute;
   opacity: 3;
   }
.img-cloud-services h2, .img-voice-collaboration h2, .img-managed-services h2, .img-information-security h2, .img-connectivity h2, .img-network-engineering h2{
   position: absolute;
   left: 50px;
   top: 50px;
   font-size: 4.9rem;
   letter-spacing: 3px;
   font-weight: bold;
   color: white;  
   }
.img-cloud-services p, .img-managed-services p, .img-information-security p, .img-connectivity p, .img-network-engineering p{
   position: absolute;
   padding-left: 10px;
   padding-right: 20px;
   margin-right: 70px;
   left: 50px;
   top: 260px;
   font-size: 2.8rem;
   font-weight: bold;
   color: white;
   }
.img-cloud-services input, .img-voice-collaboration input, .img-managed-services input, .img-information-security input, .img-connectivity input, .img-network-engineering input{
   position: absolute;
   top: 450px;
   left: 50px;
   width: 230px;
   font-size: 1.7rem;
   color: white;
   font-weight: bold;
   border-radius: 20px;
   border: rgb(0,174,239);
   background-color: rgb(0,174,239);
   }
.img-voice-collaboration{
   position: relative;
   top: 400px;
   } 
.img-voice-collaboration p{
   position: absolute;
   padding-left: 10px;
   padding-right: 20px;
   margin-right: 70px;
   left: 50px;
   top: 260px;
   font-size: 2.4rem;
   font-weight: bold;
   color: white;
   }   
.img-managed-services{
   position: relative;
   top: 1100px;
   }
.img-information-security{
   position: relative;
   top: 1800px;
   }
.img-connectivity{
   position: relative;
   top: 2500px;
   }
.img-network-engineering{
   position: relative;
   top: 3200px;
   }

/* Estilo titulo-praise-partners-clients */
.titulo-praise-partners-clients{   
   position: relative;
   width: 100%;
   height: 250px;
   top: 800px; 
   }   
.titulo-praise-partners-clients h2{
   margin-left: 50px;
   margin-right: 30px;
   bottom: 50px;
   }   
}

